body,
ul,
p,
h1,
h2,
h3,
h4,
dl,
dd,
form,
input,
textarea,
select {
    padding: 0;
    margin: 0;
    font-family: arial;
}

li {
    list-style: none;
}

img {
    border: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.clear {
    zoom: 1;
}

.clear:after {
    content: '';
    display: block;
    clear: both;
}

.head {
    width: 960px;
    margin: 0 auto;
    background: #1b0401;
    height: 30px;
    line-height: 30px;
}

.head_fl li {
    float: left;
    padding-right: 18px;
    margin-right: 15px;
}

.head_fl li a {
    font-size: 13px;
    font-family: Arial;
    color: #c0c0c0;
    display: block;
}
.no_dot { background:none; padding:0; margin:0; }
.head_fl {
    float: left;
}

.head_fr {
    float: right;
}

.head_fl li a:hover {
    color: white;
}

.head_fr li {
    float: left;
    font-size: 13px;
    font-family: Arial;
    color: white;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
}

.phone{
    background: url("http://7xrbku.com1.z0.glb.clouddn.com/31.png")no-repeat 8px -16px;
   padding: 0 38px;
}

.help {
    background: url("http://7xrbku.com1.z0.glb.clouddn.com/31.png")no-repeat 0 -52px;
    color: white;
    padding:0  38px;
}

.head_fr img {
    padding-left: 22px;
   margin-right: 12px;
}

body{background: #fff url("http://7xrbku.com1.z0.glb.clouddn.com/34.png")repeat-x;}
#header{width: 960px;height: 100px;position: relative;background: url("http://7xrbku.com1.z0.glb.clouddn.com/39.png");margin: 0 auto;}
#shopping{width: 260px;height: 100px;background: url("http://7xrbku.com1.z0.glb.clouddn.com/35.png")no-repeat;position: relative;}
#shopping p{color: #f7f7f7;font-size: 20px;font-family: Arial;padding:  30px 0 0 84px;}
#shopping a{width: 114px;height: 23px;display: block;background: url("http://7xrbku.com1.z0.glb.clouddn.com/35.png")no-repeat 0 -100px;position: absolute;top: 63px;
left: 104px;font-size: 15px;color: #ffc200;text-decoration: none;font-weight: bold;text-align: center;line-height: 23px;}


.logo{width: 238px;position: absolute;
        top: 30px;left: 50%;margin-left: -119px;}


#nav{
    line-height: 44px;
    height: 44px;
     width: 960px;
    margin: 0 auto;
}

.wrap{
    margin: 0 auto;width: 960px;
}
#nav li{
    float: left;
}
#nav li a{
    color: white;
    font-size: 16px;
    font-family: Arial;
    display: block;
    margin-right: 36px;
    margin-left: -10px;
    text-decoration: none;
}
#nav li a:hover{
    background-color: hotpink;
}

#ad{
    width: 940px;
    height: 300px;
    position: relative;
    left: 10px;
    margin-top: 10px;
    
}
#ad ul{position: absolute;top: 0;left: 0;z-index: 1;}
#ad li{position:absolute;top: 0;left: 0;}

#ad h2{width: 268px; position: absolute;left: 0;bottom: 13px;z-index: 3;text-align: center;font-size: 25px;font-weight: bold;color: #ffc600;margin-bottom: 1px;}

#ad p{ position: absolute;left: 0;bottom:7px;;z-index: 3;color: #ffcccc;font-size: 13px;left: 268px;line-height: 16px; width: 630px;}

#ad .bg { width:940px; height:52px; background:#000; filter:alpha(opacity:80); opacity:0.8; position:absolute; bottom:0; left:0; z-index:2; }

#main{
    width: 942px;margin: 0 auto;
    
}

#side{width: 210px;float: left;;}
#main_wrap{
    width: 706px;
    float: right;
}

.module_menu{}
.module_menu h2{height: 29px;background: url("http://7xrbku.com1.z0.glb.clouddn.com/43.png")repeat-x 0 -58px;text-align: center;font-size: 15px;line-height: 29px;}

.module_menu h2 strong{height: 29px;display: block;
background: url("http://7xrbku.com1.z0.glb.clouddn.com/43.png")no-repeat;}

.module_menu h2 span{
            display: block;height: 29px;background: url("http://7xrbku.com1.z0.glb.clouddn.com/43.png")no-repeat right -29px;
}

.list{
    background: url("http://7xrbku.com1.z0.glb.clouddn.com/45.gif")repeat-y;padding-top: 18px;
}
.list ul{
     background: url("http://7xrbku.com1.z0.glb.clouddn.com/45.gif")no-repeat -210px bottom;
}
.list li {
     line-height: 30px;
    text-align: left;
    padding: 0 8px;
    
}
.list li a{
    display: block;
   font-size: 12px;
    font: Arial;
    color: black;
    height: 27px;
    line-height: 27px;
    border-bottom: 1px solid white;
    text-decoration: none;
    font-weight: bold;
    padding-left: 32px;
}
.list li a:hover{
    border-bottom: 1px solid #b20e00;
    color: #b20e00;
}

.Join_form p{
    font-size: 15px;
    font-family: Arial;
    color: #f54343;
    margin-top: 15px;
    padding-top: 12px;
}
.module_join_b{
    padding: 15px 12px 12px 12px;
    background: #f5f5f2;
}

.module_join{width: 210px;}

.module_join_t{
    
}
.Join_form .text{
    width: 168px;
    height: 25px;
    padding: 0 5px;
    margin-top: 14px;
}
.Join_form .btn{
    width: 86px;
    height: 26px;
    background: #f84d4d;
    border: none;
    margin-top: 8px;
    margin-left: 44px;
}
.join_list li{
    font-size: 13px;
    font-family: Arial;
    height: 45px;
    line-height: 45px;
    border-bottom: 1px solid pink;
  
    text-indent: 10px;
    
}
.join_list .span1{
    
}
.module_join_t img{
    margin-top: 30px;
   padding-left: 17px;
}

#main_wrap{
    float: left;
    margin-left: 24px;
    width: 714px;
}
.wrap2{width: 960px;margin: 0 auto;
    margin-top: 30px;}

.title{
    font-size: 18px;
    font-weight: bold;
    font-family: Arial;
    color: #666666;
}
.parent{
    margin-left: -20px;
}
.shop_list{
    margin-top: 14px;
    float: left;
    margin-right: 28px;
    margin-bottom: 42px;

}
.shop_list h4{
    font-size: 15px;
    font-family: Arial;
    color: #666666;
    padding-top: 8px;
}

.shop_list img{
    border: 1px solid #666666;
}
.shop_list p{
    font-size: 13px;
    padding-top: 4px;
}
.shop_list span{
    color: red;
}
.shop_r{
    margin-right: 0;
}

.foot{
    bottom: 0;
    left: 0;
    height: 300px;
}
.hello{
    width: 700px;
    height: 270px;
    display: inline-block;
}
.foot{
    background: #1d0200;
}
.foot_head{
height: 60px;
color: white;
line-height: 60px;}

.foot_head p{display: inline-block;}

.p1{
background: url("http://7xrbku.com1.z0.glb.clouddn.com/55.png")no-repeat 0 4px; text-indent: 60px;}
.p2{
    background: url("http://7xrbku.com1.z0.glb.clouddn.com/55.png")no-repeat 0 -52px;
    text-indent: 50px;margin-right: 25px;
}
.foot_ft{
    height: 240px;
    background: #a01603;
    color: #ffffff;

}
.foot_ft dl{
    float: left;
    width: 184px;
}
.foot_ft dt{
    font-size: 15px;
    color: #fff;
    line-height: 50px;
    font-weight: bold;
}
.foot_ft dd{
    line-height: 20px;
    
}
.foot_ft a{
    font-size: 12px;
    color: #cfcfcf;
}
.foot_ft .space{padding-top: 20px;}

.foot_ft .pos{position: relative;
        left: -20px;}
